.first{
    background-color: blue;
    color: white;
    margin-top: 75px;
    text-align: center;
    padding: 100px 0;
}
#image{
    height: 300px;
    width: 300px;
}
#second{
    color: blue;

font-size: 100px;
}

.bold{
    font-weight: 900;
}